<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title>DCX Artemis | Reset password</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script th:src="@{/tabler/js/require.min.js}"></script>
    <script>
        requirejs.config({
            baseUrl: '.'
        });
    </script>

    <link th:href="@{/tabler/css/dashboard.css}" rel="stylesheet" />
    <script th:src="@{/tabler/js/dashboard.js}"></script>
    <link th:href="@{/tabler/plugins/charts-c3/plugin.css}" rel="stylesheet" />
    <script th:src="@{/tabler/plugins/charts-c3/plugin.js}"></script>
    <link th:href="@{/tabler/plugins/maps-google/plugin.css}" rel="stylesheet" />
    <script th:src="@{/tabler/plugins/maps-google/plugin.js}"></script>
    <script th:src="@{/tabler/plugins/input-mask/plugin.js}"></script>
</head>
<body class="">
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <img th:src="@{/img/artemis_top_logo.png}" class="h-6" alt="">
                    </div>
                    <form class="card" action="/perform_password_reset" method="post">
                        <div class="card-body p-6">
                            <div class="card-title">Reset your password</div>

                            <div th:if="${error}" class="alert alert-warning" role="alert">[[${error}]]</div>
                            <div th:if="${success}" class="alert alert-warning" role="alert">[[${success}]]</div>

                            <div class="form-group">
                                <label class="form-label">E-Mail</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="E-Mail">
                            </div>
                            <div class="form-footer">
                                <button type="submit" name="submit" value="submit" class="btn btn-primary btn-block">Reset Password</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        Remembered what your password is? <a href="/login">Log in.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>