<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Districraft :: Bans</title>

    <th:block th:include="cms/fragment/head.html" />
</head>
<body>
<header class="main-header main-header-short">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="main-header__logo">Districraft</h2>
                <div th:replace="cms/fragment/main_menu.html :: menu('bans')"></div>
            </div>
        </div>
    </div>
</header>

<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-red">
                <div class="card-header">
                    Bans
                </div>
                <table class="card-body table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Banned By</th>
                            <th>Reason</th>
                            <th>Banned On</th>
                            <th>Banned Until</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ban : ${bans}">
                            <td>[[${ban.targetUsername}]]</td>
                            <td>[[${ban.sourceUsername}]]</td>
                            <td>[[${ban.reason}]]</td>
                            <td>[[${ban.createdAt}]]</td>
                            <td>[[${ban.expiresAt}]]</td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-body" style="background-color: white; margin-top: -15px;">
                    You can appeal a ban through <a href="http://artemis.districraft.org/ban-appeal">Artemis</a>.
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="cms/fragment/footer.html"></div>

<th:block th:include="cms/fragment/foot.html" />
</body>
</html>