<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Districraft</title>

    <th:block th:include="cms/fragment/head.html"/>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="main-header__logo">Districraft</h2>
                    <div th:replace="cms/fragment/main_menu.html :: menu('home')"></div>
                </div>
            </div>
            <div class="row main-header__row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <h3 class="main-header__row__h3">WELCOME TO</h3>
                    <h2 class="main-header__row__h2">Districraft</h2>
                    <p class="main-header__row__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at blanditiis delectus dicta, eos esse in laboriosam libero.</p>
                    <a href="#" class="btn btn-red">JOIN NOW</a>
                </div>
            </div>
        </div>
    </header>

    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-lg-8">
                <div class="card card-red">
                    <div class="card-header">
                        ANNOUNCEMENTS
                    </div>
                    <div class="card-body">
                        <th:block th:each="post : ${posts}">
                            <h2>[[${post.title}]]</h2>
                            <th:block th:utext="${post.content}" />
                            <p><b>Posted: [[${post.createdAt}]]</b> | <a th:href="'/post/' + ${post.slug}"><b>Read more</b></a></p>
                            <hr>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div th:replace="cms/fragment/sidebar.html"></div>
            </div>
        </div>
    </div>

    <div th:replace="cms/fragment/gallery.html"></div>
    <div th:replace="cms/fragment/footer.html"></div>

<th:block th:include="cms/fragment/foot.html" />
</body>
</html>