/*Artemis*/
/*Copyright (C) 2020, Jakub Sycha*/

/*This program is free software: you can redistribute it and/or modify*/
/*it under the terms of the GNU General Public License as published by*/
/*the Free Software Foundation, either version 3 of the License, or*/
/*(at your option) any later version.*/

/*This program is distributed in the hope that it will be useful,*/
/*but WITHOUT ANY WARRANTY; without even the implied warranty of*/
/*MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the*/
/*GNU General Public License for more details.*/

/*You should have received a copy of the GNU General Public License*/
/*along with this program.  If not, see <https://www.gnu.org/licenses/>.*/

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Montserrat Black'), local('Montserrat-Black'), url(https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/fonts/montserrat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/fonts/montserrat-thin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/fonts/montserrat-regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background: radial-gradient(at top, #5e1d1d, #25171f, #14151f);
}

.main-header {
    background: url("https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/img/bg.jpg");
    height: 650px;
    border-bottom: 1px solid black;
}

.main-header-short {
    height: 300px;
}

.main-header__logo {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: white;
    font-size: 75px;
    margin-top: 50px;
}

.main-header__nav {
    margin-top: 50px;
    box-shadow: 0 2px 8px rgba(0,0,0,.75), inset 0 -5px rgba(0,0,0,.26);
    background: url(https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/img/menu-extra.png) top right repeat-x, linear-gradient(to top, #d92212, #c43e2f);
    padding-bottom: 12px;
    border-radius: 5px;
    border: 1px solid black;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: white !important;
}

.nav-link:link {
    color: white !important;
}

.main-header__nav .nav-link:hover {
    color: rgba(255, 255, 255, .75) !important;
}

.main-header__nav .nav-link.disabled {
    color: #ccc !important;
}

.main-header__nav .nav-item.active {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}

.search {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 0;
}

.search:focus {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 0;
    color: white;
}

/*Main Header Text Content*/

.main-header__row {
    margin-top: 50px;
}

.main-header__row__h3 {
    color: #ff2e1b;
    font-weight: bolder;
    font-size: 45px;
}

.main-header__row__h2 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: white;
    font-size: 65px;
}

.main-header__row__p {
    color: white;
    font-weight: bold;
}

.btn-red {
    background: #f04131 url(https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/img/menu-extra.png) top right repeat-x !important;
    box-shadow: 0 2px 8px rgba(0,0,0,.75), inset 0 -5px rgba(0,0,0,.26);
    padding: 20px;
    padding-top: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/*cards*/

.card-red {
    border: none;
    border-radius: 0;
}

.card-red > .card-header {
    border-radius: 0;
    background: url("https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/img/vctitle.png") top right no-repeat, linear-gradient(to top, #d92212, #c43e2f);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid rgba(0,0,0,.8);
    border-bottom: 5px solid rgba(0,0,0,.3);
}

.connect-card {
    background: url("https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/img/vctitle.png") top right no-repeat, linear-gradient(to top, #d92212, #c43e2f);
    border: 1px solid black;
}

.card-noborder {
    border: none;
}

.card-red > .card-body {
    background-color: #e8e8e8;
}

ul.news-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.news-item {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.img-fit {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.news-card {
    width: 100%;
    margin: 0;
    padding: 0;
}

.news-card__img {
    width: 34%;
    float: left;
    margin: 0;
}

.news-card__content {
    float: right;
    width: 66%;
    margin: 0;
    padding: 15px;
}

.news-card__content > h4 {
    font-weight: bold;
}

.news-card__content > p {
    color: #454545;
}

.nopadding {
    padding: 0;
}

.offset {
    margin-top: 15px;
}

.staff-member {
    font-size: 27px;
    font-weight: bold;
    margin-top: 10px;
}

.ip {
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

footer {
    display: block;
    background-color: #080e14;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-heading {
    color: #ff2e1b;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    border-bottom: 2px solid #ff2e1b;
}

.img-square {
    max-width: 100%;
}

.footer-article {
    color: white;
}

.forum-post {
    color: white;
    border-left: 2px solid #ff2e1b;
    margin-left: 15px;
    margin-top:5px;
}

.btn-sidebar {
    width: 100%;
    margin-bottom: 15px;
}

.sidebar-separator {
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.signup-faq {
    text-align: center;
    margin-top: -7px;
    margin-bottom: 10px;
}

.signup-faq > a, .signup-faq > a:link {
    color: white !important;
    text-decoration: underline;
}

.img-responsive {
    max-width: 100%;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;

    margin-top: 50px;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    #photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}

.copyright {
    color: #e8e8e8;
    margin-top: 15px;
}

.under-footer {
    background-color: #e8e8e8;
    background: rgb(236,236,236);
    background: linear-gradient(180deg, rgba(236,236,236,1) 0%, rgba(201,201,201,1) 100%);
    border-bottom: 1px solid white;
    border-top: 1px solid black;
    padding: 10px;
    text-align: center;
}

.btn-outline-reddit {
    color: #FF4500;
    border-color: #FF4500;
}

.btn-outline-reddit:hover {
    color: #fff;
    background-color: #FF4500;
    border-color: #FF4500;
}

.btn-reddit {
    color: #fff;
    background-color: #FF4500;
    border-color: #FF4500;
}

.btn-reddit:hover {
    color: #FF4500;
    background: none;
    border-color: #FF4500;
}

.btn-outline-facebook {
    color: rgb(24, 119, 242);
    border-color: rgb(24, 119, 242);
}

.btn-outline-facebook:hover {
    color: #fff;
    background-color: rgb(24, 119, 242);
    border-color: rgb(24, 119, 242);
}

.btn-outline-twitter {
    color: #1da1f2;
    border-color: #1da1f2;
}

.btn-outline-twitter:hover {
    color: #fff;
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.btn-twitter {
    color: #fff;
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.btn-twitter:hover {
    color: #1da1f2;
    background: none;
    border-color: #1da1f2;
}

.btn-mastodon {
    color: #fff;
    background-color: #191b22;
    border-color: #191b22;
    font-size: 12px;
}

.btn-mastodon:hover {
    color: #191b22;
    background: none;
    border-color: #191b22;
}

.btn-outline-mastodon {
    color: #191b22;
    border-color: #191b22;
    font-size: 12px;
}

.btn-outline-mastodon:hover {
    color: #fff;
    background-color: #191b22;
    border-color: #191b22;
}

.btn-outline-pinterest {
    color: #e60023;
    border-color: #e60023;
}

.btn-outline-pinterest:hover {
    color: #fff;
    background-color: #e60023;
    border-color: #e60023;
}