/*Artemis*/
/*Copyright (C) 2020, Jakub Sycha*/

/*This program is free software: you can redistribute it and/or modify*/
/*it under the terms of the GNU General Public License as published by*/
/*the Free Software Foundation, either version 3 of the License, or*/
/*(at your option) any later version.*/

/*This program is distributed in the hope that it will be useful,*/
/*but WITHOUT ANY WARRANTY; without even the implied warranty of*/
/*MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the*/
/*GNU General Public License for more details.*/

/*You should have received a copy of the GNU General Public License*/
/*along with this program.  If not, see <https://www.gnu.org/licenses/>.*/

body {
    overflow: hidden;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
}

.blackout {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
}

.text-container {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.text-container > h1 {
    color: white;
    font-weight: lighter;
    font-size: 200px;
    text-align: center;
}

.text-container > h2 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.text-container > p {
    color: white;
    font-size: 30px;
    text-align: center;
}

.thinner {
    font-weight: normal;
}

.even-thinner {
    font-weight: lighter;
}