<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<!doctype html>
<html lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title" style="width: 100%">Issue Tracker</h3>
                    <div class="text-right" style="width: 100%"><a href="/issues/new" class="btn btn-azure btn-sm">Log a new Issue</a></div>
                </div>
                <table class="table table-bordered card-body">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Type</th>
                        <th scope="col">Severity</th>
                        <th scope="col">Escalation Level</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="issue: ${issues}">
                        <th scope="row"><span class="right-offset"><th:block th:utext="${issue.statusBadge}" /></span><a th:utext="${issue.title}" th:href="'/issues/' + ${issue.id}" /></th>
                        <td th:utext="${issue.typeBadge}"></td>
                        <td th:utext="${issue.severityBadge}"></td>
                        <td th:utext="${issue.escalationBadge}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="card-footer">
                    Found <th:block th:text="${#lists.size(issues)}" /> issue(s).
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>