<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<!doctype html>
<html lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header"><h3 class="card-title">Log a new issue</h3>
                </div>
                <form method="post" action="/issues/create" class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <th:block th:if="${error}">
                                <div class="alert alert-warning" role="alert">
                                    <h5>There has been one or more problems!</h5>
                                    <th:block th:utext="${error}" />
                                </div>
                            </th:block>
                            <div class="form-group">
                                <label class="form-label">Brief description of your issue</label>
                                <input type="text" class="form-control" name="issueName" th:value="${issueTitle}">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Provide any additional details</label>
                                <textarea class="form-control" name="issueDescription" rows="6"></textarea>
                                <p class="text-muted">This can include game version, what you were doing when this happened etc.</p>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Issue severity</label>
                                <select class="form-control custom-select" name="issueSeverity">

                                    <option
                                            th:each="opt: ${T(org.districraft.artemis.enums.IssueSeverity).values()}"
                                            th:value="${opt}" th:text="${opt.displayName}"
                                            th:selected="${opt.displayName == 'Low'}" />
                                </select>
                                <p class="text-muted">The "Low" severity will be sufficient for most issues. Issues with
                                    higher severity will not necessarily be reviewed first and our Staff reserves the
                                    rights to change the severity as they see fit.</p>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Issue Type</label>
                                <select class="form-control custom-select" name="issueType">
                                    <option th:each="opt: ${T(org.districraft.artemis.enums.IssueCategory).values()}"
                                            th:value="${opt}" th:text="${opt.displayName}"
                                            th:selected="${opt.displayName == issueType}"
                                    />
                                </select>
                                <p class="text-muted">Use the In-Game issue type for any problems on the server itself.
                                    The bug category can be used for any bugs you found both in-game and on any Districraft
                                    website including this one. The Idea category is for suggestions and requests and anything
                                    else goes in the "Something Else" category.</p>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary ml-auto">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>