<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<!doctype html>
<html lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <th:block th:utext="${issue.statusBadge}"/> &nbsp;
                        <th:block th:text="${issue.title}"/>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <security:authorize access="hasAnyAuthority('ADMIN', 'MOD', 'GM')">
                                <div class="op-buttons">
                                    <th:block artemis:issueButtons="${issue.id}"/>
                                </div>
                            </security:authorize>

                            <div class="separator">Meta</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><b>Issue ID:</b>
                                    <th:block th:text="${issue.id}"/>
                                </li>
                                <li><b>Reporter:</b>
                                    <th:block th:text="${issue.author.username}"/>
                                </li>
                                <li><b>Created at:</b>
                                    <th:block th:text="${issue.createdAt}"/>
                                </li>
                                <li><b>Last updated:</b>
                                    <th:block th:text="${issue.updatedAt}"/>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><b>Issue type:</b>
                                    <th:block th:utext="${issue.getTypeBadge(true)}"/>
                                </li>
                                <li><b>Issue severity:</b>
                                    <th:block th:utext="${issue.getSeverityBadge(true)}"/>
                                </li>
                                <li><b>Issue escalation:</b>
                                    <th:block th:utext="${issue.getEscalationBadge(true)}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="separator">Description</div>
                            <p th:text="${issue.description}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="separator">Comments</div>

                            <ul class="list-group card-list-group" th:each="comment : ${comments}">
                                <li class="list-group-item py-5">
                                    <div class="media">
                                        <img class="media-object avatar avatar-md mr-4"
                                             th:src="${comment.author.profile.avatar}">
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <small class="float-right text-muted">[[${comment.createdAt}]]</small>
                                                <h5>[[${comment.author.username}]] <th:block th:utext="${comment.author.staffBadge}" /></h5>
                                            </div>
                                            <div>
                                                [[${comment.content}]]
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <div class="card">
                                <form class="card-body" action="/api/v1/issues/comment" method="post">
                                    <div class="form-group">
                                        <label class="form-label">Your comment</label>
                                        <textarea class="form-control" name="comment" rows="2"></textarea>
                                    </div>
                                    <input type="hidden" name="id" th:value="${issue.id}">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-sm ml-auto">Add comment</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>