<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">DCX Artemis ADMIN</title>


    <link rel="stylesheet" th:href="@{/node_modules/semantic-ui-css/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">

    <script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/node_modules/popper.js/dist/popper.min.js}"></script>
    <script th:src="@{/node_modules/semantic-ui-css/semantic.min.js}"></script>
</head>
<body>
    <div class="ui sidebar inverted vertical menu sidebar-menu" id="sidebar">
        <div class="item">
            <div class="header">General</div>
            <div class="menu">
                <a class="item" th:classappend="${activePage == 'admin/dash' ? 'active':''}" href="/admin"><i class="icon tachometer alternate"></i> Dashboard</a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                CMS
            </div>
            <div class="menu">
                <a class="item" href="/admin/cms/posts" th:classappend="${activePage == 'admin/cms/posts' ? 'active':''}"><i class="file outline icon"></i> Posts</a>
                <a class="item" href="/admin/cms/pages" th:classappend="${activePage == 'admin/cms/pages' ? 'active':''}"><i class="file alternate outline icon"></i> Pages</a>
                <a class="item" href="/admin/cms/categories" th:classappend="${activePage == 'admin/cms/categories' ? 'active':''}"><i class="folder outline icon"></i> Categories</a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                Statuspage
            </div>
            <div class="menu">
                <a class="item disabled"><i class="cogs icon"></i> Service Groups</a>
                <a class="item disabled"><i class="cog icon"></i> Services</a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                User Management
            </div>
            <div class="menu">
                <a class="item disabled"><i class="user icon"></i> Users</a>
                <a class="item disabled" sec:authorize="hasAuthority('ADMIN')"><i class="users icon"></i> Groups</a>
                <a class="item disabled" sec:authorize="hasAuthority('ADMIN')"><i class="shield icon"></i> Permissions</a>
            </div>
        </div>
        <div class="item" sec:authorize="hasAuthority('ADMIN')">
            <div class="header">
                Artemis
            </div>
            <div class="menu">
                <a class="item disabled"><i class="sliders horizontal icon"></i> System Configuration</a>
                <a class="item" href="/admin/audit" th:classappend="${activePage == 'admin/audit' ? 'active':''}"><i class="lock icon"></i> System Audit</a>
            </div>
        </div>
        <div class="item">
            <div class="menu">
                <a class="item" href="/"><i class="angle double left icon"></i> Return to Artemis</a>
            </div>
        </div>
    </div>

    <nav class="ui top fixed inverted menu">
        <div class="left menu">
            <a href="#" class="sidebar-menu-toggler item" data-target="#sidebar">
                <i class="sidebar icon"></i>
            </a>
            <a href="#" class="header item">
                Artemis Admin
            </a>
        </div>

        <div class="right menu">
            <div class="ui dropdown item">
                <i class="user cirlce icon"></i>
                <th:block th:text="${#request.userPrincipal.principal.realName}"/>
                (<th:block sec:authentication="name"/>)

                <div class="menu">
                    <a href="" class="item"><i class="wrench icon"></i> Settings</a>
                    <a href="/perform_logout" class="item"><i class="sign-out icon"></i> Logout</a>
                </div>
            </div>
        </div>
    </nav>

<div class="pusher">
    <div class="main-content">
        <div th:if="${error}" class="ui red message" th:utext="${error}" />
        <div th:if="${success}" class="ui green message" th:utext="${success}" />

        <th:block layout:fragment="content"/>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.ui.dropdown').dropdown();
        $('.sidebar-menu-toggler').on('click', function() {
            var target = $(this).data('target');
            $(target)
                .sidebar({
                    dinPage: true,
                    transition: 'overlay',
                    mobileTransition: 'overlay'
                })
                .sidebar('toggle');
        });
    });
</script>
</body>
</html>
