<!doctype html>
<html lang="en" layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Categories</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="ui breadcrumb">
        <a class="section" href="/admin">Admin</a>
        <div class="divider"> / </div>
        <a class="active section">Categories</a>
    </div>
    <h1>CMS Categories</h1>
    <a href="/admin/cms/categories/new" class="ui small blue button">Create a new category</a>

    <table class="ui celled table">
        <thead>
            <tr class="darker">
                <th>ID</th>
                <th>Name</th>
                <th>Slug</th>
                <th class="small-column">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cat : ${categories}">
                <td>[[${cat.id}]]</td>
                <td>[[${cat.name}]]</td>
                <td>[[${cat.slug}]]</td>
                <td class="small-column">
                    <a th:href="'/admin/cms/categories/edit/' + ${cat.id}"><i class="edit icon"></i> Edit</a>
                    <a th:href="'/admin/cms/categories/delete/' + ${cat.id}" class="ui red text"><i class="trash icon"></i> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>