<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Artemis | Sign up</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/adminlte/dist/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/adminlte/dist/css/alt/adminlte.pages.min.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script src="https://kit.fontawesome.com/61c8323876.js" crossorigin="anonymous"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <a href="/"><b>DCX</b> Artemis</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Create a new account step 2</p>

            <ul>
                <li>Full name:
                    <th:block th:text="${wizard.realName}"/>
                </li>
                <li>Username:
                    <th:block th:text="${wizard.username}"/>
                </li>
                <li>Email:
                    <th:block th:text="${wizard.email}"/>
                </li>
            </ul>

            <form action="/signup/step-3" method="post">
                <div class="input-group mb-3">
                    <p><b>Enter your Minecraft username.</b> If you've recently changed it, make sure to enter the current one!</p>
                    <input type="text" class="form-control" placeholder="Minecraft username" name="mcusername">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="wizardId" th:value="${wizard.id}">
                <div class="col-5">
                    <button type="submit" class="btn btn-primary btn-block">Continue <i
                            class="fas fa-chevron-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/adminlte/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/adminlte/dist/js/adminlte.min.js}"></script>
</body>
</html>