<!doctype html>
<html lang="en" layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="ui breadcrumb">
        <a class="section" href="/admin">Admin</a>
        <div class="divider"> / </div>
        <a class="active section">Pages</a>
    </div>
    <h1>CMS Pages</h1>
    <a href="/admin/cms/pages/new" class="ui small blue button">Create a new page</a>
    <table class="ui celled table">
        <thead class="darker">
        <tr>
            <th>Page Title</th>
            <th>Slug</th>
            <th class="small-column">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="page : ${pages}">
            <td>[[${page.title}]]</td>
            <td>[[${page.slug}]]</td>
            <td class="small-column">
                <a th:href="'/admin/cms/pages/edit/' + ${page.slug}"><i class="edit icon"></i> Edit</a>&nbsp
                <a class="ui red text" th:href="'/admin/cms/pages/delete/' + ${page.id}"><i class="trash icon"></i> Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>