<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<!doctype html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Statuspage Admin</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <div class="container">
        <div class="row">
            <h2>Services</h2>
            <div class="card">
                <div class="card-header">
                    <a href="/statuspage-admin/group/new" class="btn btn-azure btn-sm">New Service Group</a>&nbsp;
                    <a href="/statuspage-admin/service/new" class="btn btn-azure btn-sm">New Service</a>
                </div>
                <table class="table table-striped table-bordered card-body">
                    <th:block th:each="group : ${groups}">
                        <thead class="thead-darker">
                            <tr>
                                <th colspan="2"><a th:href="'/statuspage-admin/group/' + ${group.id}">[[${group.name}]]</a></th>
                                <th><a th:href="'/statuspage-admin/group/edit/' + ${group.id}" class="btn btn-link btn-sm">Edit Service Group</a> <a th:href="'/statuspage-admin/group/delete/' + ${group.id}" class="btn btn-link btn-sm text-red">Delete Service Group</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="service : ${group.services}">
                                <td><a th:href="'/statuspage-admin/service/' + ${service.id}">[[${service.name}]]</a></td>
                                <td>[[${service.description}]]</td>
                                <td><a th:href="'/statuspage-admin/service/edit/' + ${service.id}" class="btn btn-azure btn-sm">Edit</a>&nbsp;<a th:href="'/statuspage-admin/service/delete/' + ${service.id}" class="btn btn-red btn-sm">Delete</a></td>
                            </tr>
                        </tbody>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>