:root {
    --tablet: 768px;
    --smallMonitor: 992px;
    --largeMonitor: 1200px;
}

.ui.sidebar.inverted {
    background-color: #0f4c81;
}

.ui.top.fixed.inverted.menu {
    background-color: #093355;
}

.ui.vertical.menu.sidebar-menu {
    margin-top: 40px !important;
    max-height: calc(100% - 40px) !important;
    height: calc(100% - 40px) !important;
}

.ui.vertical.menu.sidebar-menu .item i.icon {
    float: left;
    margin: 0em 0.5em 0em 0em;
}

.main-content {
    margin-top: 50px;
    /*padding-left: 10px;*/
    /*min-width: 100%;*/
    padding: 25px;
}

@media (min-width: 768px) {
    .ui.vertical.menu.sidebar-menu {
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        width: 15rem !important;
    }
    .main-content {
        margin-left: 15rem;
    }
    .sidebar-menu-toggler {
        display: none !important;
    }
}

.ui.breadcrumb {
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.sql {
    color: #b80000;
    background-color: #ffe3e3;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
}

.ui.table thead.darker tr th {
    background-color: #ccc;
}

.ui.text.red {
    color: red;
}

.small-column {
    width: 1px;
    white-space: nowrap;
}