<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title>DCX Artemis | Forbidden</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script th:src="@{/tabler/js/require.min.js}"></script>
    <script>
        requirejs.config({
            baseUrl: '.'
        });
    </script>
    <link th:href="@{/tabler/css/dashboard.css}" rel="stylesheet" />
    <script th:src="@{/tabler/js/dashboard.js}"></script>
    <link th:href="@{/tabler/plugins/charts-c3/plugin.css}" rel="stylesheet" />
    <script th:src="@{/tabler/plugins/charts-c3/plugin.js}"></script>
    <link th:href="@{/tabler/plugins/maps-google/plugin.css}" rel="stylesheet" />
    <script th:src="@{/tabler/plugins/maps-google/plugin.js}"></script>
    <script th:src="@{/tabler/plugins/input-mask/plugin.js}"></script>
    <script th:src="@{/tabler/plugins/datatables/plugin.js}"></script>
</head>
<body class="">
<div class="page">
    <div class="page-content">
        <div class="container text-center">
            <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> 403</div>
            <h1 class="h2 mb-3">Oops&hellip; Looks like you're not allowed to do that.</h1>
            <p class="h4 text-muted font-weight-normal mb-7">It seems that you don't have the neccessary permission to perform that action&hellip;</p>
            <p class="h4 text-muted font-weight-normal mb-7">
                This should never happen. If this happened after you clicked on a link, please report this error. If you
                got here on purpose, please stop.
            </p>
            <code>[[${errorCode}]]</code>
            <a class="btn btn-primary" href="javascript:history.back()">
                <i class="fe fe-arrow-left mr-2"></i>Go back
            </a>
            <a class="btn btn-primary" href="/issues/new?issueType=bug?issueTitle=403 Error">Report this issue</a>
        </div>
    </div>
</div>
</body>
</html>