/*Artemis*/
/*Copyright (C) 2020, Jakub Sycha*/

/*This program is free software: you can redistribute it and/or modify*/
/*it under the terms of the GNU General Public License as published by*/
/*the Free Software Foundation, either version 3 of the License, or*/
/*(at your option) any later version.*/

/*This program is distributed in the hope that it will be useful,*/
/*but WITHOUT ANY WARRANTY; without even the implied warranty of*/
/*MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the*/
/*GNU General Public License for more details.*/

/*You should have received a copy of the GNU General Public License*/
/*along with this program.  If not, see <https://www.gnu.org/licenses/>.*/

.mc-skin {
    width: 100%;
    image-rendering: crisp-edges;
}

.content {
    margin-top: 15px;
}

.footer-logo {
    max-height: 40px;
}

.avatar {
    border-radius: 0;
}

.pull-right {
    float: right;
}

.tag-small {
    font-size: 0.6rem;
}

.separator {
    display: flex;
    align-items: flex-start;
    text-align: left;
    font-weight: bold;
}

.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);
    margin-top: .85em;
}

.separator::after {
    margin-left: .25em;
}

.right-offset {
    margin-right: 15px;
}

.op-buttons {
    margin-bottom: 20px;
}

.small-column {
    width: 1px;
    white-space: nowrap;
}

.blue-border {
    border: 1px solid #45aaf2;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(69,170,242,0.53);
    -moz-box-shadow: 0px 0px 19px 0px rgba(69,170,242,0.53);
    box-shadow: 0px 0px 19px 0px rgba(69,170,242,0.53);
}

.ip-card {
    display: inline-block;
    border: 1px solid #45aaf2;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(69,170,242,0.2);
    -moz-box-shadow: 0px 0px 19px 0px rgba(69,170,242,0.2);
    box-shadow: 0px 0px 19px 0px rgba(69,170,242,0.2);

    padding: 15px;
    border-radius: 5px;

    margin-bottom: 15px;
}

.thead-darker {
    background-color: #e2e2e2;
}