<!--Artemis-->

<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">DCX Artemis</title>

    <script th:src="@{/tabler/js/require.min.js}"></script>
    <script>
        requirejs.config({
            baseUrl: '/tabler/'
        });
    </script>

    <link th:href="@{/tabler/css/dashboard.css}" rel="stylesheet"/>
    <script th:src="@{/tabler/js/dashboard.js}"></script>
    <link th:href="@{/tabler/plugins/charts-c3/plugin.css}" rel="stylesheet"/>
    <script th:src="@{/tabler/plugins/charts-c3/plugin.js}"></script>
    <link th:href="@{/tabler/plugins/maps-google/plugin.css}" rel="stylesheet"/>
    <script th:src="@{/tabler/plugins/maps-google/plugin.js}"></script>
    <script th:src="@{/tabler/plugins/input-mask/plugin.js}"></script>

    <link rel="stylesheet" th:href="@{'/node_modules/@fortawesome/fontawesome-free/css/all.min.css'}">
    <link rel="stylesheet" th:href="@{/css/artemis.css}">
</head>
<body class="" th:with="version=1.0">
<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="/">
                        <img th:src="@{/img/artemis_top_logo.png}" class="header-brand-img" alt="tabler logo">
                    </a>
                    <div class="d-flex order-lg-2 ml-auto">
                        <div class="dropdown">
                            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                <img class="avatar" th:src="${#request.userPrincipal.principal.avatar}" alt="Avatar">
                                <span class="ml-2 d-none d-lg-block">
                                <span class="text-default"><th:block
                                        th:text="${#request.userPrincipal.principal.realName}"/> (<th:block
                                        sec:authentication="name"/>)</span>
                                <small class="text-muted d-block mt-1" sec:authorize="hasAuthority('ADMIN')">Administrator</small>
                    </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="/profile">
                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                </a>
                                <a class="dropdown-item" href="/settings">
                                    <i class="dropdown-icon fe fe-settings"></i> Settings
                                </a>
                                <a class="dropdown-item" href="/mail">
                                    <span class="float-right"><span class="badge badge-primary">6</span></span>
                                    <i class="dropdown-icon fe fe-mail"></i> Inbox
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/help">
                                    <i class="dropdown-icon fe fe-help-circle"></i> Need help?
                                </a>
                                <a class="dropdown-item" href="/perform_logout">
                                    <i class="dropdown-icon fe fe-log-out"></i> Sign out
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
                       data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="/" th:classappend="${activePage == '/' ? 'active':''}" class="nav-link"><i
                                        class="fe fe-home"></i> Home</a>
                            </li>
<!--                             TODO: DCXARTEMIS-44 -- Issue Tracker is disabled until other stuff is done -->
<!--                            <li class="nav-item">-->
<!--                                <a href="/issues/" th:classappend="${activePage == '/issues' ? 'active':''}"-->
<!--                                   class="nav-link"><i class="fas fa-columns"></i> &nbsp; Issue Tracker</a>-->
<!--                            </li>-->
                            <li class="nav-item" sec:authorize="hasAuthority('ADMIN') OR hasAuthority('GM')">
                                <a href="/statuspage-admin" th:classappend="${activePage == '/statuspage-admin' ? 'active':''}"
                                   class="nav-link"><i class="far fa-check-circle"></i> &nbsp; Statuspage Admin</a>
                            </li>
                            <li class="nav-item" sec:authorize="hasAuthority('ADMIN') OR hasAuthority('GM')">
                                <a href="/admin" class="nav-link text-orange"><i class="fas fa-tools"></i> &nbsp; Admin Panel</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
<!--            <div class="container" th:unless="${#request.userPrincipal.principal.minecraftProfile}">-->
<!--                <div class="row">-->
<!--                    <div class="card">-->
<!--                        <div class="card-status bg-orange"></div>-->
<!--                        <div class="card-header">-->
<!--                            <h3 class="card-title">Important Notice</h3>-->
<!--                            <div class="card-options">-->
<!--                                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i-->
<!--                                        class="fe fe-chevron-up"></i></a>-->
<!--                                <a href="#" class="card-options-remove" data-toggle="card-remove"><i-->
<!--                                        class="fe fe-x"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            You don't have a Minecraft profile associated with your account. To be able to access all-->
<!--                            features of Artemis, please connect your Minecraft profile in the-->
<!--                            <a href="/account/settings">Account settings</a>.-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <th:block th:if="${error}">
                            <div class="alert alert-warning" role="alert">
                                <h5>There has been one or more problems!</h5>
                                <th:block th:utext="${error}" />
                            </div>
                        </th:block>
                    </div>
                    <div class="col-lg-12">
                        <th:block th:if="${success}">
                            <div class="alert alert-success" role="alert">
                                <th:block th:utext="${success}" />
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <th:block layout:fragment="content"/>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">My Settings</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">My Stats</a></li>
                                <li><a href="#">My Mail</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <a href="/meta/about-artemis"><img th:src="@{/img/artemis.png}"
                                                       alt="Running Artemis" class="footer-logo"></a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-lg-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item"><a href="/meta/about">About Artemis</a></li>
                                <li class="list-inline-item"><a href="/meta/faq">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-auto">
<!--                            TODO: DCXARTEMIS-44 -- Issue Tracker is disabled until other stuff is done-->
<!--                            <a href="https://artemis.districraft.org/tracker/new?issueType=artemis"-->
<!--                               class="btn btn-orange btn-sm">Report a problem</a>-->
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    <strong>Copyright &copy; 2020 <a href="https://districraft.org">Districraft</a> et al.</strong> All
                    rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>