<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>Register - tabler.github.io - a responsive, flat and full featured admin template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script th:src="@{/tabler/js/require.min.js}"></script>
    <script>
        requirejs.config({
            baseUrl: '.'
        });
    </script>
    <link th:href="@{/tabler/css/dashboard.css}" rel="stylesheet"/>
    <script th:src="@{/tabler/js/dashboard.js}"></script>
    <link th:href="@{/tabler/plugins/charts-c3/plugin.css}" rel="stylesheet"/>
    <script th:src="@{/tabler/plugins/charts-c3/plugin.js}"></script>
    <link th:href="@{/tabler/plugins/maps-google/plugin.css}" rel="stylesheet"/>
    <script th:src="@{/tabler/plugins/maps-google/plugin.js}"></script>
    <script th:src="@{/tabler/plugins/input-mask/plugin.js}"></script>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>

    <script>
        var mtcaptchaConfig = {
            "sitekey": "MTPublic-vWd60Ah0a",
            "action": "login"
        };
        (function () {
            var mt_service = document.createElement('script');
            mt_service.async = true;
            mt_service.src = 'https://service.mtcaptcha.com/mtcv1/client/mtcaptcha.min.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mt_service);
            var mt_service2 = document.createElement('script');
            mt_service2.async = true;
            mt_service2.src = 'https://service2.mtcaptcha.com/mtcv1/client/mtcaptcha2.min.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mt_service2);
        })();
    </script>
</head>
<body class="">
<div class="page">
    <div class="page-single">
        <div class="container">
            <th:block th:if="${error}">
                <div class="alert alert-warning" role="alert">
                    <h5>There has been one or more problems!</h5>
                    <th:block th:utext="${error}" />
                </div>
            </th:block>
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <img th:src="@{/img/artemis_top_logo.png}" class="h-6" alt="">
                    </div>
                    <form class="card" action="/create-account" method="post">
                        <div class="card-body p-6">
                            <div class="card-title">Create a new account</div>
                            <div class="form-group">
                                <label class="form-label">Real name (optional)</label>
                                <input type="text" class="form-control" name="fullname" placeholder="Real name">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" placeholder="Username" name="username">
                            </div>
                            <div class="form-group">
                                <label class="form-label">E-Mail</label>
                                <input type="email" class="form-control" placeholder="E-Mail" name="email">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" placeholder="Password" name="password">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Retype Password</label>
                                <input type="password" class="form-control" placeholder="Password"
                                       name="password_check">
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="terms" value="agree"/>
                                    <span class="custom-control-label">I agree to the <a
                                            href="/meta/tos">terms</a></span>
                                </label>
                            </div>
                            <div class='mtcaptcha'></div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">Create new account</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        Already have account? <a href="/login">Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>