<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <th:block th:replace="cms/fragment/head.html" />
    <link rel="stylesheet" th:href="@{/css/cms/notfound.css}">

</head>
<body>
<video src="https://cdn.helium-media.com/artemis-cdn/hell.mp4" width="100%" height="100%" autoplay loop></video>
<div class="blackout">
    <div class="text-container">
        <h1>404</h1>
        <h2>Oops... Looks like you found a dead link <span class="thinner">(and opened a portal to hell)</span>!</h2>
        <p>Better <a href="#" onclick="window.history.back();">go back</a>!<br><span class="even-thinner">If this happened after you clicked a link on our site, please let the Staff know...</span></p>
    </div>
</div>
</body>
</html>