<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="footer-heading">Latest Posts</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <img src="https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/img/thumb.png" alt="" class="img-square">
                    </div>
                    <div class="col-lg-8 footer-article">
                        <h4>Some News</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img src="https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/img/thumb.png" alt="" class="img-square">
                    </div>
                    <div class="col-lg-8 footer-article">
                        <h4>Some News</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img src="https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/img/thumb.png" alt="" class="img-square">
                    </div>
                    <div class="col-lg-8 footer-article">
                        <h4>Some News</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="footer-heading">From the Forums</h2>
                <div class="row">
                    <div class="col-lg-12 forum-post">
                        <h4>Some forum post</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 forum-post">
                        <h4>Some forum post</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 forum-post">
                        <h4>Some forum post</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="footer-heading">Gallery</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">Copyright &copy; Districraft 2020. All content except that generated by users belongs to Districraft and any use and/or distribution without prior written permission is fobidden.</p>
            </div>
        </div>
    </div>
</footer>
<div class="under-footer">
    <a href="#"><img src="https://cdn.helium-media.com/artemis-cdn/running_artemis_small.png" alt="Running Artemis" class="img-responsive"></a>
</div>