<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<link rel="stylesheet" href="https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/bdee774207.js" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/cms/main.css}">