<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<nav class="navbar navbar-expand-lg navbar-light bg-light main-header__nav" th:fragment="menu(activeItem)">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${#strings.equals(activeItem, 'home')} ? 'active' : ''">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://forums.districraft.org">Forums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://artemis.districraft.org">Artemis</a>
            </li>
            <li class="nav-item" th:classappend="${#strings.equals(activeItem, 'wiki')} ? 'active' : ''">
                <a class="nav-link" href="/wiki">Wiki</a>
            </li>
            <li class="nav-item" th:classappend="${#strings.equals(activeItem, 'rules')} ? 'active' : ''">
                <a class="nav-link" href="/page/rules">Rules</a>
            </li>
            <li class="nav-item" th:classappend="${#strings.equals(activeItem, 'bans')} ? 'active' : ''">
                <a class="nav-link" href="/bans">Bans</a>
            </li>
            <li class="nav-item" th:classappend="${#strings.equals(activeItem, 'faq')} ? 'active' : ''">
                <a class="nav-link" href="/page/faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://store.districraft.org">Store</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="/search">
            <input class="form-control search mr-sm-2" type="search" placeholder="Search" name="search">
        </form>
    </div>
</nav>