<!--Artemis-->
<!--Copyright (C) 2020, Jakub Sycha-->

<!--This program is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<a href="#" class="btn btn-red btn-sidebar">SIGN UP</a>
<div class="signup-faq">
    <a href="#">What are the advantages of signing up?</a>
</div>
<div class="sidebar-separator">OR CONNECT DIRECTLY TO</div>
<div class="card card-noborder">
    <div class="card-body nopadding connect-card">
        <div class="ip">80.344.12.20</div>
    </div>
</div>

<div class="card card-red offset">
    <div class="card-header">
        Social Media
    </div>
    <div class="card-body">
        <p><button onclick="window.open('https://twitter.com/intent/user?original_referer=&amp;region=screen_name&amp;screen_name=districraft&amp;source=followbutton&amp;variant=1.1', 'twitter', 'toolbar=no, width=650, height=300'); return false;" class="btn btn-twitter btn-sm"><i class="fab fa-twitter"></i> Follow on Twitter</button>
            <button onclick="window.open('https://twitter.com/intent/tweet?text=Check%20out%20%40Districraft%2C%20the%20ultimate%20%23minecraft%20server%21%0A%0Ahttps%3A%2F%2Fdistricraft.org%2F&amp;original_referer=&amp;region=screen_name&amp;source=followbutton&amp;variant=1.1', 'twitter', 'toolbar=no, width=650, height=300'); return false;" type="button" class="btn btn-outline-twitter btn-sm"><i class="fab fa-twitter"></i> Share on Twitter</button></p>

        <p><a href="https://www.reddit.com/r/districraft/" target="_blank" type="button" class="btn btn-reddit btn-sm"><i class="fab fa-reddit"></i> Follow on Reddit</a>
            <a href="https://www.reddit.com/submit?url=https://districraft.org&title=Districraft%20%3A%20The%20ultimate%20Minecraft%20server%21" target="_blank" type="button" class="btn btn-outline-reddit btn-sm"><i class="fab fa-reddit"></i> Share on Reddit</a></p>

        <p><a href="https://mastodon.social/web/accounts/1148627" target="_blank" type="button" class="btn btn-mastodon btn-sm"><i class="fab fa-mastodon"></i> Follow on Mastodon</a>
            <a href="web+mastodon://share?text=test" type="button" class="btn btn-outline-mastodon btn-sm"><i class="fab fa-mastodon"></i> Share on Mastodon</a></p>

        <p><a href="https://www.facebook.com/sharer/sharer.php?u=https://districraft.org" target="_blank" type="button" class="btn btn-outline-facebook btn-sm"><i class="fab fa-facebook"></i> Share on Facebook</a>
            <a href="http://pinterest.com/pin/create/button/?url=https://districraft.org" target="_blank" type="button" class="btn btn-outline-pinterest btn-sm"><i class="fab fa-pinterest"></i> Share on Pinterest</a></p>
    </div>
</div>

<div class="card card-red offset">
    <div class="card-header">
        Staff Currently Online
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3">
                <img src="https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/img/admin.png" alt="">
            </div>
            <div class="col-lg-9">
                <div class="staff-member">[BOSS] UTF_8x</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <img src="https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/img/gm.png" alt="">
            </div>
            <div class="col-lg-9">
                <div class="staff-member">[GM] MrPeanut</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <img src="https://dcx-cdn.fra1.digitaloceanspaces.com/artemis-cdn/img/mod.png" alt="">
            </div>
            <div class="col-lg-9">
                <div class="staff-member">[MOD] WeeCunt</div>
            </div>
        </div>
    </div>
</div>

<div class="card card-red offset">
    <div class="card-header">
        Twitter
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/districraft?ref_src=twsrc%5Etfw">Tweets by districraft</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>