<!doctype html>
<html lang="en" layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="ui breadcrumb">
        <a class="section" href="/admin">Admin</a>
        <div class="divider"> /</div>
        <a class="active section">Posts</a>
    </div>
    <h1>CMS Posts</h1>
    <a class="ui blue button" href="/admin/cms/posts/new">Create a new Post</a>
    <table class="ui celled table">
        <thead class="darker">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${posts}">
                <td>[[${post.id}]]</td>
                <td>[[${post.title}]]</td>
                <td>[[${post.slug}]]</td>
                <td>[[${post.category.name}]]</td>
                <td class="small-column">
                    <a th:href="'/admin/cms/posts/edit/' + ${post.slug}"><i class="edit icon"></i> Edit</a>
                    &nbsp;
                    <a class="ui text red" th:href="'/admin/cms/posts/delete/' + ${post.id}"><i class="trash icon"></i> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>