<!doctype html>
<html lang="en" layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>New Post</title>

    <script th:src="@{/node_modules/tinymce/tinymce.min.js}"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            height: 300,
            content_css: '/css/mce.css'
        });
    </script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="ui breadcrumb">
        <a class="section" href="/admin">Admin</a>
        <div class="divider"> / </div>
        <a class="section" href="/admin/cms/posts">Posts</a>
        <div class="divider"> / </div>
        <a class="active section">New</a>
    </div>
    <h1>New Post</h1>
    <form action="/admin/cms/posts/create" method="post" class="ui form">
        <div class="field">
            <label>Title</label>
            <input type="text" name="title">
        </div>

        <div class="field">
            <label>Content</label>
            <textarea id="mytextarea" name="content"></textarea>
        </div>
        <div class="field">
            <label>Category</label>
            <select class="form-control custom-select" name="category">
                <option
                    th:each="cat : ${categories}"
                    th:value="${cat.id}" th:text="${cat.name}" />
            </select>
        </div>

        <button type="submit" class="ui small blue button">Save</button>
    </form>
</th:block>
</body>
</html>