<!doctype html>
<html lang="en" layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System Audit</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="ui breadcrumb">
        <a class="section" href="/admin">Admin</a>
        <div class="divider"> / </div>
        <a class="active section">System Audit</a>
    </div>
    <h1>Artemis System Audit Log</h1>

    <a href="/admin/audit/plaintext" class="ui basic grey button">Show as Plaintext</a>
    <a href="/admin/audit/json" class="ui basic grey button">Show as JSON</a>
    <a href="#" class="ui red button" id="purgeLogButton">Purge the audit log</a>
    <a href="#" class="ui purple button" id="deleteOlderButton">Auto-Clean the audit log</a>

    <table class="ui celled table">
        <thead class="darker">
            <tr>
                <th>Transaction ID</th>
                <th>Action Type</th>
                <th>Action Detail</th>
                <th>Class Name</th>
                <th>Security Level</th>
                <th>Timestamp</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="i : ${log}">
                <td>[[${i.id}]]</td>
                <td><span class="ui label" th:classappend="${i.actionType.color}">[[${i.actionType}]]</span></td>
                <td>[[${i.actionDetail}]]</td>
                <td>[[${i.className}]]</td>
                <td><span class="ui label" th:classappend="${i.securityLevel.color}">[[${i.securityLevel}]]</span></td>
                <td>[[${i.tStamp}]]</td>
                <td th:unless="${i.sourceUser} == null">([[${i.sourceUser.id}]]) [[${i.sourceUser.username}]]</td>
                <td th:if="${i.sourceUser} == null">NULL</td>
            </tr>
        </tbody>
    </table>

    <div class="ui modal" id="purge">
        <div class="header">Warning</div>
        <div class="content">
            <p>For security reasons, the Audit log can only be deleted directly from the database.</p>
            <p>To delete the log, run the following query in the Artemis database:</p>
            <code class="sql">DELETE FROM audit_log_entry WHERE TRUE;</code>
        </div>
    </div>

    <div class="ui modal" id="deleteOlder">
        <div class="header">Warning</div>
        <div class="content">
            <p>This will delete any Audit Log entries older than [[${deleteOlderThan}]]</p>
            <p>The deletion will be logged. Are you sure you want to proceed?</p>
            <a class="ui red button" href="/admin/audit/autoclean">Yes, Auto-Clean the Audit Log</a>
            <a class="ui blue button" id="cancelAutodelete">No, cancel.</a>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#purgeLogButton").on('click', function() {
                $('#purge').modal('show');
            });
            $("#deleteOlderButton").on('click', function() {
                $('#deleteOlder').modal('show');
            });
            $("#cancelAutodelete").on('click', function() {
               $('#deleteOlder').modal('hide');
            });
        });
    </script>
</th:block>
</body>
</html>